body {
    width: 1100px;
    font-family: Arial;
    color: #FF0000;
    background-color: #CCFFFF;
}

#banner {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: xx-large;
    text-indent: inherit;
    text-decoration: underline;
}

#left {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
}					
#label {
    
    position: relative;
    float: left;
    width: 20%;
    line-height: 23px;
    text-align: right;
}	
#textbox {
    
    position: relative;
    float: left;
    width: 20%;
    line-height: 23px;
    text-align: left;
}			
#center {
    width: 100%;
    text-align: center;
}				

		
#picture {
    position: relative;
    float: left;
    width: 35%;
    
}		

.textbox {
    width: 150px;
}

.button {
    margin: 3px;
}

#footer {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: medium;
    text-indent: inherit;
    bottom: 0px;
    left: 0px;
    float: left
}		